In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
train=pd.DataFrame(pd.read_csv('tbrain_cc_training_48tags_hash_final.csv'))

In [4]:
test = pd.DataFrame(pd.read_csv('需預測的顧客名單及提交檔案範例.csv'))
test = test.drop(columns = ['top1','top2','top3'])

In [5]:
# 有NAN的dropna全砍好像有少資料，所以先用fillna有NAN全補0的方式，之後再改
# train.dropna(how='any',axis=0,inplace=True)
train = train.fillna(0)
train

,dt,chid,shop_tag,txn_cnt,txn_amt,domestic_offline_cnt,domestic_online_cnt,overseas_offline_cnt,overseas_online_cnt,domestic_offline_amt_pct,...,masts,educd,trdtp,naty,poscd,cuorg,slam,gender_code,age,primary_card
0,1,10321418,45,3,3891.965283,3,0,0,0,1.00,...,1.0,4.0,5.0,1.0,99.0,30.0,95982.822967,1.0,4.0,1
1,1,10414574,15,2,10616.561549,2,0,0,0,1.00,...,2.0,2.0,15.0,1.0,2.0,30.0,130702.351368,1.0,3.0,1
2,1,10134567,48,2,23527.655416,0,2,0,0,0.00,...,1.0,3.0,11.0,1.0,3.0,30.0,112010.611717,0.0,4.0,1
3,1,10001003,48,9,17751.558260,7,2,0,0,0.75,...,2.0,3.0,11.0,1.0,2.0,30.0,59701.507360,0.0,3.0,1
4,1,10267183,2,1,21701.307598,1,0,0,0,1.00,...,2.0,6.0,15.0,1.0,99.0,30.0,0.000000,0.0,6.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32975648,24,10297394,19,1,13950.944705,1,0,0,0,1.00,...,2.0,3.0,15.0,1.0,2.0,30.0,59701.507360,0.0,2.0,1
32975649,24,10062431,15,9,8762.298856,0,9,0,0,0.00,...,2.0,6.0,15.0,1.0,2.0,30.0,62730.806297,0.0,2.0,1
32975650,24,10062431,21,1,14209.220918,0,1,0,0,0.00,...,2.0,6.0,15.0,1.0,2.0,30.0,62730.806297,0.0,2.0,1
32975651,24,10062431,other,1,6651.116446,0,1,0,0,0.00,...,2.0,6.0,15.0,1.0,2.0,30.0,62730.806297,0.0,2.0,1
32975652,24,10062431,36,22,8150.818314,22,0,0,0,1.00,...,2.0,6.0,15.0,1.0,2.0,30.0,62730.806297,0.0,2.0,1

In [6]:
# 指定參數 axis = 0 表示要刪除觀測值（row）
# 刪除觀測值
# dropValue = [1,3,4,5,7,8,9,11,14,16,17,20,23,24,27,28,29,30,31,32,33,34,35,38,40,41,42,43,44,45,46,47,'other']

# train1 = train1[(train1.shop_tag != 1) & (train1.shop_tag != 3) & (train1.shop_tag != 4) & (train1.shop_tag != 5) & (train1.shop_tag != 7) & (train1.shop_tag != 8) & (train1.shop_tag != 9) & (train1.shop_tag != 11) & (train1.shop_tag != 14) & (train1.shop_tag != 16) & (train1.shop_tag != 17) & (train1.shop_tag != 20) & (train1.shop_tag != 23) & (train1.shop_tag != 24) & (train1.shop_tag != 27) & (train1.shop_tag != 28) & (train1.shop_tag != 29) & (train1.shop_tag != 30) & (train1.shop_tag != 31) & (train1.shop_tag != 32) & (train1.shop_tag != 33) & (train1.shop_tag != 34) & (train1.shop_tag != 35) & (train1.shop_tag != 38) & (train1.shop_tag != 40) & (train1.shop_tag != 41) & (train1.shop_tag != 42) & (train1.shop_tag != 43) & (train1.shop_tag != 44) & (train1.shop_tag != 45) & (train1.shop_tag != 46) & (train1.shop_tag != 47) & (train1.shop_tag != 'other')]
# train1

# train = train[train.shop_tag.isin([2, 6, 10, 12, 13, 15, 18, 19, 21, 22, 25, 26, 36, 37, 39, 48])]
# train

In [7]:
train = train.drop(train[~train.chid.isin(test.chid)].index)

In [8]:
train

,dt,chid,shop_tag,txn_cnt,txn_amt,domestic_offline_cnt,domestic_online_cnt,overseas_offline_cnt,overseas_online_cnt,domestic_offline_amt_pct,...,masts,educd,trdtp,naty,poscd,cuorg,slam,gender_code,age,primary_card
0,1,10321418,45,3,3891.965283,3,0,0,0,1.00,...,1.0,4.0,5.0,1.0,99.0,30.0,95982.822967,1.0,4.0,1
1,1,10414574,15,2,10616.561549,2,0,0,0,1.00,...,2.0,2.0,15.0,1.0,2.0,30.0,130702.351368,1.0,3.0,1
2,1,10134567,48,2,23527.655416,0,2,0,0,0.00,...,1.0,3.0,11.0,1.0,3.0,30.0,112010.611717,0.0,4.0,1
3,1,10001003,48,9,17751.558260,7,2,0,0,0.75,...,2.0,3.0,11.0,1.0,2.0,30.0,59701.507360,0.0,3.0,1
4,1,10267183,2,1,21701.307598,1,0,0,0,1.00,...,2.0,6.0,15.0,1.0,99.0,30.0,0.000000,0.0,6.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32975648,24,10297394,19,1,13950.944705,1,0,0,0,1.00,...,2.0,3.0,15.0,1.0,2.0,30.0,59701.507360,0.0,2.0,1
32975649,24,10062431,15,9,8762.298856,0,9,0,0,0.00,...,2.0,6.0,15.0,1.0,2.0,30.0,62730.806297,0.0,2.0,1
32975650,24,10062431,21,1,14209.220918,0,1,0,0,0.00,...,2.0,6.0,15.0,1.0,2.0,30.0,62730.806297,0.0,2.0,1
32975651,24,10062431,other,1,6651.116446,0,1,0,0,0.00,...,2.0,6.0,15.0,1.0,2.0,30.0,62730.806297,0.0,2.0,1
32975652,24,10062431,36,22,8150.818314,22,0,0,0,1.00,...,2.0,6.0,15.0,1.0,2.0,30.0,62730.806297,0.0,2.0,1

In [9]:
# dropValue = ['1','3','4','5','7','8','9','11','14','16','17','20','23','24','27','28','29','30','31','32','33','34','35','38','40','41','42','43','44','45','46','47','other']
# train = train.drop(train[train.shop_tag.isin(dropValue)].index)
# train

In [10]:
train.columns

Index(['dt', 'chid', 'shop_tag', 'txn_cnt', 'txn_amt', 'domestic_offline_cnt',
       'domestic_online_cnt', 'overseas_offline_cnt', 'overseas_online_cnt',
       'domestic_offline_amt_pct', 'domestic_online_amt_pct',
       'overseas_offline_amt_pct', 'overseas_online_amt_pct', 'card_1_txn_cnt',
       'card_2_txn_cnt', 'card_3_txn_cnt', 'card_4_txn_cnt', 'card_5_txn_cnt',
       'card_6_txn_cnt', 'card_7_txn_cnt', 'card_8_txn_cnt', 'card_9_txn_cnt',
       'card_10_txn_cnt', 'card_11_txn_cnt', 'card_12_txn_cnt',
       'card_13_txn_cnt', 'card_14_txn_cnt', 'card_other_txn_cnt',
       'card_1_txn_amt_pct', 'card_2_txn_amt_pct', 'card_3_txn_amt_pct',
       'card_4_txn_amt_pct', 'card_5_txn_amt_pct', 'card_6_txn_amt_pct',
       'card_7_txn_amt_pct', 'card_8_txn_amt_pct', 'card_9_txn_amt_pct',
       'card_10_txn_amt_pct', 'card_11_txn_amt_pct', 'card_12_txn_amt_pct',
       'card_13_txn_amt_pct', 'card_14_txn_amt_pct', 'card_other_txn_amt_pct',
       'masts', 'educd', 'trdtp', 'naty', 'poscd', 'cuorg', 'slam',
       'gender_code', 'age', 'primary_card'],
      dtype='object')

In [11]:
# txn_amt、slam兩欄小數點似乎過多，要再處理，這邊先直接砍掉
# dt消費月份不知道怎麼處理也先拿掉
X = train[['chid', 'txn_cnt', 'domestic_offline_cnt',
       'domestic_online_cnt', 'overseas_offline_cnt', 'overseas_online_cnt',
       'domestic_offline_amt_pct', 'domestic_online_amt_pct',
       'overseas_offline_amt_pct', 'overseas_online_amt_pct', 'card_1_txn_cnt',
       'card_2_txn_cnt', 'card_3_txn_cnt', 'card_4_txn_cnt', 'card_5_txn_cnt',
       'card_6_txn_cnt', 'card_7_txn_cnt', 'card_8_txn_cnt', 'card_9_txn_cnt',
       'card_10_txn_cnt', 'card_11_txn_cnt', 'card_12_txn_cnt',
       'card_13_txn_cnt', 'card_14_txn_cnt', 'card_other_txn_cnt',
       'card_1_txn_amt_pct', 'card_2_txn_amt_pct', 'card_3_txn_amt_pct',
       'card_4_txn_amt_pct', 'card_5_txn_amt_pct', 'card_6_txn_amt_pct',
       'card_7_txn_amt_pct', 'card_8_txn_amt_pct', 'card_9_txn_amt_pct',
       'card_10_txn_amt_pct', 'card_11_txn_amt_pct', 'card_12_txn_amt_pct',
       'card_13_txn_amt_pct', 'card_14_txn_amt_pct', 'card_other_txn_amt_pct',
       'masts', 'educd', 'trdtp', 'naty', 'poscd', 'cuorg', 
       'gender_code', 'age', 'primary_card']]
y = train['shop_tag']

In [12]:
# 查看樣本類別分布 這邊先不做平均 太占記憶體
from collections import Counter
print(Counter(y))

Counter({'37': 4092401, 'other': 2988218, '15': 2573145, '36': 2550500, '45': 2411310, '10': 2234101, '2': 1971956, '48': 1806496, '12': 1130825, '19': 1022234, '25': 795763, '6': 634849, '18': 629407, '16': 628987, '13': 625801, '31': 607888, '22': 547293, '39': 535248, '21': 503873, '26': 476687, '46': 424055, '9': 349932, '17': 345814, '11': 280455, '33': 261088, '5': 231969, '47': 225170, '32': 202863, '35': 185585, '34': 183470, '41': 166662, '7': 160780, '20': 130038, '8': 129061, '23': 124889, '40': 118913, '43': 114998, '38': 113608, '3': 109286, '42': 91492, '14': 73457, '30': 62032, '44': 55273, '24': 31530, '1': 20800, '4': 5997, '27': 4754, '28': 4585, '29': 115})

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X, y,test_size=0.25, random_state=42)
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=42)
# from sklearn.ensemble import GradientBoostingClassifier #梯度提升 會掛掉
# clf = GradientBoostingClassifier(random_state=42)
# from sklearn.ensemble import RandomForestClassifier #隨機森林 也會掛掉
# clf = RandomForestClassifier(n_estimators=100, n_jobs = -1, random_state = 42, min_samples_leaf = 10)

clf.fit(X_train,y_train)

DecisionTreeClassifier(random_state=42)

In [ ]:
# X.drop_duplicates(subset=['chid'])
# X_test.drop_duplicates(subset=['chid'])

In [36]:
predictions = clf.predict_proba(X_train.drop_duplicates(subset=['chid']))

In [37]:
best_predictions = np.argsort(predictions, axis=1)[:,-49:]

In [38]:
# '1','3','4','5','7','8','9','11','14','16','17','20','23','24','27','28','29','30','31','32','33','34','35','38','40','41','42','43','44','45','46','47','other'

In [39]:
# [1,3,4,5,7,8,9,11,14,16,17,20,23,24,27,28,29,30,31,32,33,34,35,38,40,41,42,43,44,45,46,47,'other']

In [40]:
best_predictions[0]

array([ 0, 25, 26, 27, 28, 29, 30, 31, 32, 33, 47, 34, 36, 37, 38, 41, 42,
       43, 44, 45, 46, 35, 23, 24, 21,  1,  2,  3,  4,  5,  7,  8, 22, 10,
        9, 12, 13, 14, 15, 16, 17, 18, 19, 20, 48, 39, 40, 11,  6])

In [41]:
best_predictions_final = np.zeros((len(best_predictions), 3), dtype=int)

In [42]:
for a in range(len(best_predictions)):
    sum = 0
    for i in range(49): 
        if (best_predictions[a, i] == [2,6,10,12,13,15,18,19,21,22,25,26,39,37,39,48]).any():
            best_predictions_final[a, sum] = int(best_predictions[a, i])
            sum += 1 
        if sum == 3: 
            break
#         print(best_predictions_final[a, sum],best_predictions[a, i])
#         print(best_predictions_final)
            
#     print(a, best_predictions_final, sum)

In [43]:
best_predictions_final[10]

array([26, 25, 39])

In [44]:
len(best_predictions_final)

498593

In [45]:
len(test.chid)

500000

In [ ]:
submission = pd.DataFrame({ 'chid':test.chid,'top1':best_predictions_final[0:len(best_predictions_final),0] , 'top2':best_predictions_final[0:len(best_predictions_final),1] , 'top3':best_predictions_final[0:len(best_predictions_final),2] })

ValueError: array length 8243914 does not match index length 500000

In [ ]:
filename = 'submission.csv'
submission.to_csv(filename,index=False)
print(submission)
print('Saved file: ' + filename)