In [1]:
import tensorflow as tf
config = tf.compat.v1.ConfigProto()
config.gpu_options.allow_growth = True
tf.compat.v1.keras.backend.set_session(tf.compat.v1.Session(config=config))

2021-11-18 16:20:26.422304: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1

WARNING:tensorflow:From /tmp/ipykernel_1593918/634983112.py:4: The name tf.keras.backend.set_session is deprecated. Please use tf.compat.v1.keras.backend.set_session instead.

2021-11-18 16:20:35.699914: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2021-11-18 16:20:35.733953: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcuda.so.1
2021-11-18 16:20:36.059225: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-18 16:20:36.059802: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1720] Found device 0 with properties:
pciBusID: 0000:01:00.0 name: GeForce RTX 2080 Ti computeCapability: 7.5
coreClock: 1.545GHz coreCount: 68 deviceMemorySize: 10.76GiB deviceMemoryBandwidth: 573.69GiB/s
2021-11-18 16:20:36.059898: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-18 16:20:36.060359: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1720] Found device 1 with properties:
pciBusID: 0000:04:00.0 name: GeForce RTX 2080 Ti computeCapability: 7.5
coreClock: 1.545GHz coreCount: 68 deviceMemorySize: 10.76GiB deviceMemoryBandwidth: 573.69GiB/s
2021-11-18 16:20:36.060376: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1
2021-11-18 16:20:36.656138: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublas.so.10
2021-11-18 16:20:36.656340: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublasLt.so.10
2021-11-18 16:20:37.033324: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcufft.so.10
2021-11-18 16:20:37.107253: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcurand.so.10
2021-11-18 16:20:37.694135: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusolver.so.10
2021-11-18 16:20:37.765655: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusparse.so.10
2021-11-18 16:20:38.866565: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudnn.so.7
2021-11-18 16:20:38.866934: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-18 16:20:38.868881: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-18 16:20:38.870841: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-18 16:20:38.871870: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-18 16:20:38.872346: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1862] Adding visible gpu devices: 0, 1
2021-11-18 16:20:38.877635: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1
2021-11-18 16:20:42.647111: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1261] Device interconnect StreamExecutor with strength 1 edge matrix:
2021-11-18 16:20:42.647133: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1267]      0 1
2021-11-18 16:20:42.647138: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1280] 0:   N N
2021-11-18 16:20:42.647141: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1280] 1:   N N
2021-11-18 16:20:42.651690: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-18 16:20:42.652157: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-18 16:20:42.652629: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-18 16:20:42.653065: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-18 16:20:42.653511: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1406] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 8555 MB memory) -> physical GPU (device: 0, name: GeForce RTX 2080 Ti, pci bus id: 0000:01:00.0, compute capability: 7.5)
2021-11-18 16:20:42.677080: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-18 16:20:42.679101: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-18 16:20:42.680951: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1406] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:1 with 10074 MB memory) -> physical GPU (device: 1, name: GeForce RTX 2080 Ti, pci bus id: 0000:04:00.0, compute capability: 7.5)
2021-11-18 16:20:42.681600: I tensorflow/compiler/jit/xla_gpu_device.cc:99] Not creating XLA devices, tf_xla_enable_xla_devices not set

In [2]:
gpu_devices = tf.config.experimental.list_physical_devices('GPU')
for device in gpu_devices:
    tf.config.experimental.set_memory_growth(device, True)

2021-11-18 16:20:42.692472: I tensorflow/compiler/jit/xla_cpu_device.cc:41] Not creating XLA devices, tf_xla_enable_xla_devices not set
2021-11-18 16:20:42.692540: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-18 16:20:42.692940: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1720] Found device 0 with properties:
pciBusID: 0000:01:00.0 name: GeForce RTX 2080 Ti computeCapability: 7.5
coreClock: 1.545GHz coreCount: 68 deviceMemorySize: 10.76GiB deviceMemoryBandwidth: 573.69GiB/s
2021-11-18 16:20:42.692980: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-18 16:20:42.693387: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1720] Found device 1 with properties:
pciBusID: 0000:04:00.0 name: GeForce RTX 2080 Ti computeCapability: 7.5
coreClock: 1.545GHz coreCount: 68 deviceMemorySize: 10.76GiB deviceMemoryBandwidth: 573.69GiB/s
2021-11-18 16:20:42.693402: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1
2021-11-18 16:20:42.693415: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublas.so.10
2021-11-18 16:20:42.693423: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublasLt.so.10
2021-11-18 16:20:42.693431: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcufft.so.10
2021-11-18 16:20:42.693438: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcurand.so.10
2021-11-18 16:20:42.693446: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusolver.so.10
2021-11-18 16:20:42.693453: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusparse.so.10
2021-11-18 16:20:42.693461: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudnn.so.7
2021-11-18 16:20:42.693494: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-18 16:20:42.693890: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-18 16:20:42.694309: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-18 16:20:42.694702: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-18 16:20:42.695094: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1862] Adding visible gpu devices: 0, 1

In [3]:
import numpy as np
import pandas as pd

In [4]:
# 顯示所有列
pd.set_option('display.max_columns', None)

In [5]:
# 讀前處理過後的資料
train = pd.read_csv('Processed_tbrain_training.csv')
print(train.shape)
print(train.info())
train.head(5)

(32970085, 53)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32970085 entries, 0 to 32970084
Data columns (total 53 columns):
 #   Column                    Dtype
---  ------                    -----
 0   dt                        int64
 1   chid                      int64
 2   shop_tag                  int64
 3   txn_cnt                   int64
 4   txn_amt                   float64
 5   domestic_offline_cnt      int64
 6   domestic_online_cnt       int64
 7   overseas_offline_cnt      int64
 8   overseas_online_cnt       int64
 9   domestic_offline_amt_pct  float64
 10  domestic_online_amt_pct   float64
 11  overseas_offline_amt_pct  float64
 12  overseas_online_amt_pct   float64
 13  card_1_txn_cnt            int64
 14  card_2_txn_cnt            int64
 15  card_3_txn_cnt            int64
 16  card_4_txn_cnt            int64
 17  card_5_txn_cnt            int64
 18  card_6_txn_cnt            int64
 19  card_7_txn_cnt            int64
 20  card_8_txn_cnt            int64
 21  card_9_txn_cnt            int64
 22  card_10_txn_cnt           int64
 23  card_11_txn_cnt           int64
 24  card_12_txn_cnt           int64
 25  card_13_txn_cnt           int64
 26  card_14_txn_cnt           int64
 27  card_other_txn_cnt        int64
 28  card_1_txn_amt_pct        float64
 29  card_2_txn_amt_pct        float64
 30  card_3_txn_amt_pct        float64
 31  card_4_txn_amt_pct        float64
 32  card_5_txn_amt_pct        float64
 33  card_6_txn_amt_pct        float64
 34  card_7_txn_amt_pct        float64
 35  card_8_txn_amt_pct        float64
 36  card_9_txn_amt_pct        float64
 37  card_10_txn_amt_pct       float64
 38  card_11_txn_amt_pct       float64
 39  card_12_txn_amt_pct       float64
 40  card_13_txn_amt_pct       float64
 41  card_14_txn_amt_pct       float64
 42  card_other_txn_amt_pct    float64
 43  masts                     float64
 44  educd                     float64
 45  trdtp                     float64
 46  naty                      float64
 47  poscd                     float64
 48  cuorg                     float64
 49  slam                      float64
 50  gender_code               float64
 51  age                       float64
 52  primary_card              int64
dtypes: float64(29), int64(24)
memory usage: 13.0 GB
None

,dt,chid,shop_tag,txn_cnt,txn_amt,domestic_offline_cnt,domestic_online_cnt,overseas_offline_cnt,overseas_online_cnt,domestic_offline_amt_pct,domestic_online_amt_pct,overseas_offline_amt_pct,overseas_online_amt_pct,card_1_txn_cnt,card_2_txn_cnt,card_3_txn_cnt,card_4_txn_cnt,card_5_txn_cnt,card_6_txn_cnt,card_7_txn_cnt,card_8_txn_cnt,card_9_txn_cnt,card_10_txn_cnt,card_11_txn_cnt,card_12_txn_cnt,card_13_txn_cnt,card_14_txn_cnt,card_other_txn_cnt,card_1_txn_amt_pct,card_2_txn_amt_pct,card_3_txn_amt_pct,card_4_txn_amt_pct,card_5_txn_amt_pct,card_6_txn_amt_pct,card_7_txn_amt_pct,card_8_txn_amt_pct,card_9_txn_amt_pct,card_10_txn_amt_pct,card_11_txn_amt_pct,card_12_txn_amt_pct,card_13_txn_amt_pct,card_14_txn_amt_pct,card_other_txn_amt_pct,masts,educd,trdtp,naty,poscd,cuorg,slam,gender_code,age,primary_card
0,1,10321418,45,3,5.830816e-112,3,0,0,0,1.00,0.00,0.0,0.0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0,5.0,1.0,99.0,30.0,1.394080e-213,1.0,4.0,1
1,1,10414574,15,2,1.596363e-111,2,0,0,0,1.00,0.00,0.0,0.0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,15.0,1.0,2.0,30.0,1.944332e-213,1.0,3.0,1
2,1,10134567,48,2,3.541844e-111,0,2,0,0,0.00,1.00,0.0,0.0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,11.0,1.0,3.0,30.0,1.648096e-213,0.0,4.0,1
3,1,10001003,48,9,2.671485e-111,7,2,0,0,0.75,0.25,0.0,0.0,0,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,11.0,1.0,2.0,30.0,8.190756e-214,0.0,3.0,1
4,1,10267183,2,1,3.266644e-111,1,0,0,0,1.00,0.00,0.0,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,6.0,15.0,1.0,99.0,30.0,8.190756e-214,0.0,6.0,0

In [6]:
# 特徵選擇
train.columns

Index(['dt', 'chid', 'shop_tag', 'txn_cnt', 'txn_amt', 'domestic_offline_cnt',
       'domestic_online_cnt', 'overseas_offline_cnt', 'overseas_online_cnt',
       'domestic_offline_amt_pct', 'domestic_online_amt_pct',
       'overseas_offline_amt_pct', 'overseas_online_amt_pct', 'card_1_txn_cnt',
       'card_2_txn_cnt', 'card_3_txn_cnt', 'card_4_txn_cnt', 'card_5_txn_cnt',
       'card_6_txn_cnt', 'card_7_txn_cnt', 'card_8_txn_cnt', 'card_9_txn_cnt',
       'card_10_txn_cnt', 'card_11_txn_cnt', 'card_12_txn_cnt',
       'card_13_txn_cnt', 'card_14_txn_cnt', 'card_other_txn_cnt',
       'card_1_txn_amt_pct', 'card_2_txn_amt_pct', 'card_3_txn_amt_pct',
       'card_4_txn_amt_pct', 'card_5_txn_amt_pct', 'card_6_txn_amt_pct',
       'card_7_txn_amt_pct', 'card_8_txn_amt_pct', 'card_9_txn_amt_pct',
       'card_10_txn_amt_pct', 'card_11_txn_amt_pct', 'card_12_txn_amt_pct',
       'card_13_txn_amt_pct', 'card_14_txn_amt_pct', 'card_other_txn_amt_pct',
       'masts', 'educd', 'trdtp', 'naty', 'poscd', 'cuorg', 'slam',
       'gender_code', 'age', 'primary_card'],
      dtype='object')

In [7]:
SelectedFeatures = ['dt', 'chid', 'shop_tag', 
       'masts', 'educd', 'trdtp', 'naty', 'poscd', 'cuorg', 'slam',
       'gender_code', 'age', 'primary_card']

In [8]:
train = train[SelectedFeatures]
train.head(5)

,dt,chid,shop_tag,masts,educd,trdtp,naty,poscd,cuorg,slam,gender_code,age,primary_card
0,1,10321418,45,1.0,4.0,5.0,1.0,99.0,30.0,1.394080e-213,1.0,4.0,1
1,1,10414574,15,2.0,2.0,15.0,1.0,2.0,30.0,1.944332e-213,1.0,3.0,1
2,1,10134567,48,1.0,3.0,11.0,1.0,3.0,30.0,1.648096e-213,0.0,4.0,1
3,1,10001003,48,2.0,3.0,11.0,1.0,2.0,30.0,8.190756e-214,0.0,3.0,1
4,1,10267183,2,2.0,6.0,15.0,1.0,99.0,30.0,8.190756e-214,0.0,6.0,0

In [9]:
# 先取出每個顧客不重複最後一個月的值之後預測用
pre_train = train.drop_duplicates(subset=['chid'], keep='last')
pre_train

,dt,chid,shop_tag,masts,educd,trdtp,naty,poscd,cuorg,slam,gender_code,age,primary_card
14519147,13,10111801,37,2.0,6.0,15.0,1.0,99.0,30.0,1.980761e-213,1.0,2.0,0
14519440,13,10013382,26,1.0,4.0,2.0,1.0,1.0,30.0,1.648096e-213,1.0,6.0,1
14519711,13,10464422,2,2.0,2.0,15.0,1.0,99.0,30.0,2.215702e-213,0.0,5.0,1
14520768,13,10203945,37,1.0,4.0,5.0,1.0,8.0,30.0,1.730576e-213,0.0,6.0,1
14522515,13,10276085,37,1.0,6.0,5.0,1.0,99.0,30.0,1.258009e-213,0.0,6.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32970073,24,10430654,6,1.0,5.0,2.0,1.0,1.0,30.0,1.017454e-213,0.0,6.0,1
32970075,24,10152908,48,2.0,3.0,9.0,1.0,2.0,30.0,8.190756e-214,0.0,2.0,1
32970077,24,10057828,37,2.0,6.0,15.0,1.0,99.0,30.0,9.138293e-214,0.0,6.0,0
32970080,24,10297394,19,2.0,3.0,15.0,1.0,2.0,30.0,8.190756e-214,0.0,2.0,1
32970084,24,10062431,36,2.0,6.0,15.0,1.0,2.0,30.0,8.670854e-214,0.0,2.0,1

In [10]:
# 去除shop_tag
pre_train.drop(columns = ['shop_tag'], axis=1, inplace=True)

/mnt/sdb/home/hongjun/.conda/envs/python38/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [11]:
predict = pd.DataFrame(pd.read_csv('需預測的顧客名單及提交檔案範例.csv'))
predict = predict.drop(columns = ['top1','top2','top3'])
print(predict.shape)
print(predict.info())
predict.head(5)

(500000, 1)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   chid    500000 non-null  int64
dtypes: int64(1)
memory usage: 3.8 MB
None

       chid
0  10128239
1  10077943
2  10277876
3  10364842
4  10392717

In [12]:
# 按照要提交的檔案排序
pre_train = pre_train.set_index('chid', drop= False)
pre_train = pre_train.loc[predict.chid]
pre_train.head(5)

,dt,chid,masts,educd,trdtp,naty,poscd,cuorg,slam,gender_code,age,primary_card
chid,,,,,,,,,,,,
10128239,24,10128239,1.0,4.0,8.0,1.0,1.0,30.0,1.741756e-213,0.0,4.0,1
10077943,24,10077943,1.0,5.0,12.0,1.0,2.0,30.0,7.594606e-214,0.0,5.0,1
10277876,24,10277876,1.0,5.0,6.0,1.0,1.0,30.0,7.077406e-214,1.0,3.0,1
10364842,24,10364842,2.0,5.0,7.0,1.0,99.0,30.0,1.048096e-213,1.0,4.0,1
10392717,24,10392717,2.0,3.0,5.0,1.0,2.0,30.0,3.248696e-214,1.0,2.0,1

In [13]:
# # 把chid全部拿掉
# pre_train.drop(columns = ['chid'], axis=1, inplace=True)
# pre_train

In [14]:
# train.drop(columns = ['chid'], axis=1, inplace=True)
# train

In [15]:
pre_train.columns

Index(['dt', 'chid', 'masts', 'educd', 'trdtp', 'naty', 'poscd', 'cuorg',
       'slam', 'gender_code', 'age', 'primary_card'],
      dtype='object')

In [16]:
train.columns

Index(['dt', 'chid', 'shop_tag', 'masts', 'educd', 'trdtp', 'naty', 'poscd',
       'cuorg', 'slam', 'gender_code', 'age', 'primary_card'],
      dtype='object')

In [17]:
X = train[['dt', 'chid', 'shop_tag', 'masts', 'educd', 'trdtp', 'naty', 'poscd', 'cuorg',
       'slam', 'gender_code', 'age', 'primary_card']]
y = train['shop_tag']

In [18]:
import gc
del train
gc.collect()

0

In [19]:
from xgboost import XGBClassifier

# 建立 XGBClassifier 模型
xgboostModel = XGBClassifier(n_estimators=100, learning_rate= 0.3)

In [20]:
# 使用訓練資料訓練模型
xgboostModel.fit(X[0:2000000], y[0:2000000])

/mnt/sdb/home/hongjun/.conda/envs/python38/lib/python3.8/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[16:23:23] WARNING: /tmp/build/80754af9/xgboost-split_1619724447847/work/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.3, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=12, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [21]:
# 模型預測
predictions = xgboostModel.predict_proba(pre_train)

In [22]:
predictions[0]

array([2.0576979e-06, 9.9980634e-01, 4.8641650e-05, 5.3511553e-06,
       2.9806258e-06, 5.9955255e-06, 1.0325606e-05, 5.9788754e-06,
       3.8020903e-06, 5.1180432e-06, 1.4219620e-05, 4.1019971e-06,
       7.7239101e-06, 2.4509800e-06, 2.0422417e-06, 6.7620886e-06,
       3.8082774e-06, 2.5076297e-06, 2.7781850e-06, 2.8090735e-06,
       1.8850686e-06, 2.2232687e-06, 2.5440506e-06, 1.5606828e-06,
       1.6207791e-06, 2.3737980e-06, 1.9222666e-06, 1.5091598e-06,
       1.4598515e-06, 1.6067850e-06, 1.4740596e-06, 1.9556801e-06,
       1.4206790e-06, 1.7946585e-06, 1.9531619e-06, 1.5896411e-06,
       2.9636049e-06, 2.4125163e-06, 1.3379829e-06, 1.9069856e-06,
       1.6297520e-06, 1.6069657e-06, 1.3391164e-06, 1.6771345e-06,
       1.2986108e-06, 2.4897031e-06, 2.4194446e-06, 2.2914946e-06,
       2.0142049e-06], dtype=float32)

In [23]:
# best_predictions = np.argsort(predictions, axis=1)[:,-49:]
# best_predictions = np.argsort(predictions)[::-1]

# 按降序獲取前 n 個結果
best_n = np.argsort(-predictions, axis=1)[:, :49]
best_n

array([[ 1,  2, 10, ..., 42, 38, 44],
       [ 1,  2, 10, ..., 42, 38, 44],
       [ 1,  2, 10, ..., 42, 38, 44],
       ...,
       [ 2, 10,  6, ..., 42, 38, 44],
       [ 2, 10,  6, ..., 42, 38, 44],
       [ 2, 10,  6, ..., 42, 38, 44]])

In [24]:
# 建立best_predictions_final來儲存前三高的預測值
best_predictions_final = np.zeros((len(best_n), 3), dtype=int)

In [25]:
# 過濾16個前三高的標籤出來
for a in range(len(best_n)):
    sum = 0
    for i in range(49): 
        if (best_n[a, i] == [2,6,10,12,13,15,18,19,21,22,25,26,36,37,39,48]).any():
            best_predictions_final[a, sum] = int(best_n[a, i])
            sum += 1 
        if sum == 3: 
            break

In [26]:
submission = pd.DataFrame({ 'chid':predict.chid,'top1':best_predictions_final[0:len(best_predictions_final),0] , 'top2':best_predictions_final[0:len(best_predictions_final),1] , 'top3':best_predictions_final[0:len(best_predictions_final),2] })

In [27]:
filename = 'submission-XGB_model_200萬資料訓練-砍欄位-1次.csv'
submission.to_csv(filename,index=False)
print(submission)
print('Saved file: ' + filename)

            chid  top1  top2  top3
0       10128239     2    10     6
1       10077943     2    10     6
2       10277876     2    10     6
3       10364842     2    10     6
4       10392717     2    10     6
...          ...   ...   ...   ...
499995  10433239     2    10     6
499996  10235119     2    10     6
499997  10267595     2    10     6
499998  10160606     2    10     6
499999  10141759     2    10     6

[500000 rows x 4 columns]
Saved file: submission-XGB_model_200萬資料訓練-砍欄位-1次.csv

In [28]:
# 保存模型
xgboostModel.save('XGB_model_200萬資料訓練-砍欄位-1次.h5')

NameError: name 'model' is not defined