In [1]:
import numpy as np
import pandas as pd

In [2]:
#顯示所有列
pd.set_option('display.max_columns', None)

In [3]:
# 讀前處理過後的資料
train = pd.read_csv('Processed_tbrain_training.csv')
print(train.shape)
print(train.info())
train.head(5)

(32970085, 53)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32970085 entries, 0 to 32970084
Data columns (total 53 columns):
 #   Column                    Dtype
---  ------                    -----
 0   dt                        int64
 1   chid                      int64
 2   shop_tag                  int64
 3   txn_cnt                   int64
 4   txn_amt                   float64
 5   domestic_offline_cnt      int64
 6   domestic_online_cnt       int64
 7   overseas_offline_cnt      int64
 8   overseas_online_cnt       int64
 9   domestic_offline_amt_pct  float64
 10  domestic_online_amt_pct   float64
 11  overseas_offline_amt_pct  float64
 12  overseas_online_amt_pct   float64
 13  card_1_txn_cnt            int64
 14  card_2_txn_cnt            int64
 15  card_3_txn_cnt            int64
 16  card_4_txn_cnt            int64
 17  card_5_txn_cnt            int64
 18  card_6_txn_cnt            int64
 19  card_7_txn_cnt            int64
 20  card_8_txn_cnt            int64
 21  card_9_txn_cnt            int64
 22  card_10_txn_cnt           int64
 23  card_11_txn_cnt           int64
 24  card_12_txn_cnt           int64
 25  card_13_txn_cnt           int64
 26  card_14_txn_cnt           int64
 27  card_other_txn_cnt        int64
 28  card_1_txn_amt_pct        float64
 29  card_2_txn_amt_pct        float64
 30  card_3_txn_amt_pct        float64
 31  card_4_txn_amt_pct        float64
 32  card_5_txn_amt_pct        float64
 33  card_6_txn_amt_pct        float64
 34  card_7_txn_amt_pct        float64
 35  card_8_txn_amt_pct        float64
 36  card_9_txn_amt_pct        float64
 37  card_10_txn_amt_pct       float64
 38  card_11_txn_amt_pct       float64
 39  card_12_txn_amt_pct       float64
 40  card_13_txn_amt_pct       float64
 41  card_14_txn_amt_pct       float64
 42  card_other_txn_amt_pct    float64
 43  masts                     float64
 44  educd                     float64
 45  trdtp                     float64
 46  naty                      float64
 47  poscd                     float64
 48  cuorg                     float64
 49  slam                      float64
 50  gender_code               float64
 51  age                       float64
 52  primary_card              int64
dtypes: float64(29), int64(24)
memory usage: 13.0 GB
None

,dt,chid,shop_tag,txn_cnt,txn_amt,domestic_offline_cnt,domestic_online_cnt,overseas_offline_cnt,overseas_online_cnt,domestic_offline_amt_pct,domestic_online_amt_pct,overseas_offline_amt_pct,overseas_online_amt_pct,card_1_txn_cnt,card_2_txn_cnt,card_3_txn_cnt,card_4_txn_cnt,card_5_txn_cnt,card_6_txn_cnt,card_7_txn_cnt,card_8_txn_cnt,card_9_txn_cnt,card_10_txn_cnt,card_11_txn_cnt,card_12_txn_cnt,card_13_txn_cnt,card_14_txn_cnt,card_other_txn_cnt,card_1_txn_amt_pct,card_2_txn_amt_pct,card_3_txn_amt_pct,card_4_txn_amt_pct,card_5_txn_amt_pct,card_6_txn_amt_pct,card_7_txn_amt_pct,card_8_txn_amt_pct,card_9_txn_amt_pct,card_10_txn_amt_pct,card_11_txn_amt_pct,card_12_txn_amt_pct,card_13_txn_amt_pct,card_14_txn_amt_pct,card_other_txn_amt_pct,masts,educd,trdtp,naty,poscd,cuorg,slam,gender_code,age,primary_card
0,1,10321418,45,3,5.830816e-112,3,0,0,0,1.00,0.00,0.0,0.0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0,5.0,1.0,99.0,30.0,1.394080e-213,1.0,4.0,1
1,1,10414574,15,2,1.596363e-111,2,0,0,0,1.00,0.00,0.0,0.0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,15.0,1.0,2.0,30.0,1.944332e-213,1.0,3.0,1
2,1,10134567,48,2,3.541844e-111,0,2,0,0,0.00,1.00,0.0,0.0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,11.0,1.0,3.0,30.0,1.648096e-213,0.0,4.0,1
3,1,10001003,48,9,2.671485e-111,7,2,0,0,0.75,0.25,0.0,0.0,0,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,11.0,1.0,2.0,30.0,8.190756e-214,0.0,3.0,1
4,1,10267183,2,1,3.266644e-111,1,0,0,0,1.00,0.00,0.0,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,6.0,15.0,1.0,99.0,30.0,8.190756e-214,0.0,6.0,0

In [4]:
# 對卡片消費次數做加總，並刪掉個別消費次數，這邊可能要再試
train["sum_card_txn_cnt"] = train["card_1_txn_cnt"] + train["card_2_txn_cnt"] + train["card_3_txn_cnt"] + train["card_4_txn_cnt"] + train["card_5_txn_cnt"] + train["card_6_txn_cnt"] + train["card_7_txn_cnt"] + train["card_8_txn_cnt"] + train["card_9_txn_cnt"] + train["card_10_txn_cnt"] + train["card_11_txn_cnt"] + train["card_12_txn_cnt"] + train["card_13_txn_cnt"] + train["card_14_txn_cnt"] + train["card_other_txn_cnt"]
train = train.drop(columns = ['card_1_txn_cnt','card_2_txn_cnt','card_3_txn_cnt','card_4_txn_cnt','card_5_txn_cnt','card_6_txn_cnt','card_7_txn_cnt','card_8_txn_cnt','card_9_txn_cnt','card_10_txn_cnt','card_11_txn_cnt','card_12_txn_cnt','card_13_txn_cnt','card_14_txn_cnt','card_other_txn_cnt'])

In [6]:
# 對卡國內消費次數做加總，並刪掉個別國內消費次數
train["sum_domestic_cnt"] = train["domestic_offline_cnt"] + train["domestic_online_cnt"]
train = train.drop(columns = ['domestic_offline_cnt','domestic_online_cnt'])

In [7]:
# 對海外消費次數做加總，並刪掉個別海外消費次數
train["sum_overseas_cnt"] = train["overseas_offline_cnt"] + train["overseas_online_cnt"]
train = train.drop(columns = ['overseas_offline_cnt','overseas_online_cnt'])

In [8]:
print(train.shape)
print(train.info())
train.head(5)

(32970085, 37)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32970085 entries, 0 to 32970084
Data columns (total 37 columns):
 #   Column                    Dtype
---  ------                    -----
 0   dt                        int64
 1   chid                      int64
 2   shop_tag                  int64
 3   txn_cnt                   int64
 4   txn_amt                   float64
 5   domestic_offline_amt_pct  float64
 6   domestic_online_amt_pct   float64
 7   overseas_offline_amt_pct  float64
 8   overseas_online_amt_pct   float64
 9   card_1_txn_amt_pct        float64
 10  card_2_txn_amt_pct        float64
 11  card_3_txn_amt_pct        float64
 12  card_4_txn_amt_pct        float64
 13  card_5_txn_amt_pct        float64
 14  card_6_txn_amt_pct        float64
 15  card_7_txn_amt_pct        float64
 16  card_8_txn_amt_pct        float64
 17  card_9_txn_amt_pct        float64
 18  card_10_txn_amt_pct       float64
 19  card_11_txn_amt_pct       float64
 20  card_12_txn_amt_pct       float64
 21  card_13_txn_amt_pct       float64
 22  card_14_txn_amt_pct       float64
 23  card_other_txn_amt_pct    float64
 24  masts                     float64
 25  educd                     float64
 26  trdtp                     float64
 27  naty                      float64
 28  poscd                     float64
 29  cuorg                     float64
 30  slam                      float64
 31  gender_code               float64
 32  age                       float64
 33  primary_card              int64
 34  sum_card_txn_cnt          int64
 35  sum_domestic_cnt          int64
 36  sum_overseas_cnt          int64
dtypes: float64(29), int64(8)
memory usage: 9.1 GB
None

,dt,chid,shop_tag,txn_cnt,txn_amt,domestic_offline_amt_pct,domestic_online_amt_pct,overseas_offline_amt_pct,overseas_online_amt_pct,card_1_txn_amt_pct,card_2_txn_amt_pct,card_3_txn_amt_pct,card_4_txn_amt_pct,card_5_txn_amt_pct,card_6_txn_amt_pct,card_7_txn_amt_pct,card_8_txn_amt_pct,card_9_txn_amt_pct,card_10_txn_amt_pct,card_11_txn_amt_pct,card_12_txn_amt_pct,card_13_txn_amt_pct,card_14_txn_amt_pct,card_other_txn_amt_pct,masts,educd,trdtp,naty,poscd,cuorg,slam,gender_code,age,primary_card,sum_card_txn_cnt,sum_domestic_cnt,sum_overseas_cnt
0,1,10321418,45,3,5.830816e-112,1.00,0.00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0,5.0,1.0,99.0,30.0,1.394080e-213,1.0,4.0,1,3,3,0
1,1,10414574,15,2,1.596363e-111,1.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,15.0,1.0,2.0,30.0,1.944332e-213,1.0,3.0,1,2,2,0
2,1,10134567,48,2,3.541844e-111,0.00,1.00,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,11.0,1.0,3.0,30.0,1.648096e-213,0.0,4.0,1,2,2,0
3,1,10001003,48,9,2.671485e-111,0.75,0.25,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,11.0,1.0,2.0,30.0,8.190756e-214,0.0,3.0,1,9,9,0
4,1,10267183,2,1,3.266644e-111,1.00,0.00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,6.0,15.0,1.0,99.0,30.0,8.190756e-214,0.0,6.0,0,1,1,0

In [12]:
# 刪掉txn_cnt消費次數
train = train.drop(columns = ['txn_cnt'])

In [13]:
print(train.shape)
print(train.info())
train.head(5)

(32970085, 36)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32970085 entries, 0 to 32970084
Data columns (total 36 columns):
 #   Column                    Dtype
---  ------                    -----
 0   dt                        int64
 1   chid                      int64
 2   shop_tag                  int64
 3   txn_amt                   float64
 4   domestic_offline_amt_pct  float64
 5   domestic_online_amt_pct   float64
 6   overseas_offline_amt_pct  float64
 7   overseas_online_amt_pct   float64
 8   card_1_txn_amt_pct        float64
 9   card_2_txn_amt_pct        float64
 10  card_3_txn_amt_pct        float64
 11  card_4_txn_amt_pct        float64
 12  card_5_txn_amt_pct        float64
 13  card_6_txn_amt_pct        float64
 14  card_7_txn_amt_pct        float64
 15  card_8_txn_amt_pct        float64
 16  card_9_txn_amt_pct        float64
 17  card_10_txn_amt_pct       float64
 18  card_11_txn_amt_pct       float64
 19  card_12_txn_amt_pct       float64
 20  card_13_txn_amt_pct       float64
 21  card_14_txn_amt_pct       float64
 22  card_other_txn_amt_pct    float64
 23  masts                     float64
 24  educd                     float64
 25  trdtp                     float64
 26  naty                      float64
 27  poscd                     float64
 28  cuorg                     float64
 29  slam                      float64
 30  gender_code               float64
 31  age                       float64
 32  primary_card              int64
 33  sum_card_txn_cnt          int64
 34  sum_domestic_cnt          int64
 35  sum_overseas_cnt          int64
dtypes: float64(29), int64(7)
memory usage: 8.8 GB
None

,dt,chid,shop_tag,txn_amt,domestic_offline_amt_pct,domestic_online_amt_pct,overseas_offline_amt_pct,overseas_online_amt_pct,card_1_txn_amt_pct,card_2_txn_amt_pct,card_3_txn_amt_pct,card_4_txn_amt_pct,card_5_txn_amt_pct,card_6_txn_amt_pct,card_7_txn_amt_pct,card_8_txn_amt_pct,card_9_txn_amt_pct,card_10_txn_amt_pct,card_11_txn_amt_pct,card_12_txn_amt_pct,card_13_txn_amt_pct,card_14_txn_amt_pct,card_other_txn_amt_pct,masts,educd,trdtp,naty,poscd,cuorg,slam,gender_code,age,primary_card,sum_card_txn_cnt,sum_domestic_cnt,sum_overseas_cnt
0,1,10321418,45,5.830816e-112,1.00,0.00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0,5.0,1.0,99.0,30.0,1.394080e-213,1.0,4.0,1,3,3,0
1,1,10414574,15,1.596363e-111,1.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,15.0,1.0,2.0,30.0,1.944332e-213,1.0,3.0,1,2,2,0
2,1,10134567,48,3.541844e-111,0.00,1.00,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,11.0,1.0,3.0,30.0,1.648096e-213,0.0,4.0,1,2,2,0
3,1,10001003,48,2.671485e-111,0.75,0.25,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,11.0,1.0,2.0,30.0,8.190756e-214,0.0,3.0,1,9,9,0
4,1,10267183,2,3.266644e-111,1.00,0.00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,6.0,15.0,1.0,99.0,30.0,8.190756e-214,0.0,6.0,0,1,1,0

In [14]:
# 刪完加總後的消費次數資料後再存檔一次
filename = 'Processed_tbrain_training_sum_cnt.csv'
train.to_csv(filename,index=False)

In [ ]:
# 看之後要不要把消費金額占比全部砍掉